/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=search] {
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] { /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

header {
  display: flex;
  width: 100%;
  background-color: #e1d4c9;
  padding: 36px;
  margin-bottom: 20px;
  align-items: center;
}
header .cofeeHouse,
header .ellipse,
header .resourse {
  position: absolute;
}
header .cofeeHouse {
  top: 63px;
  left: 54px;
  z-index: 3;
}
header .ellipse {
  top: 17px;
  left: 67px;
  z-index: 3;
}
header .resourse {
  top: 24px;
  left: 38px;
  z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 850px) {
  header nav {
    display: none;
  }
}
header .copy {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
@media (max-width: 850px) {
  header .copy {
    display: none;
  }
}
header .copy p {
  text-decoration: none;
}
header .copy:hover {
  opacity: 0.5;
  cursor: pointer;
}
header .copy img {
  margin-left: 8px;
  margin-bottom: 3px;
}
header .wrapper {
  display: flex;
  gap: 17em;
  align-items: right;
}
header .wrapper #burger {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  right: 18px;
  top: 21px;
  flex-direction: column;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: none;
}
@media (max-width: 850px) {
  header .wrapper #burger {
    display: flex;
  }
}
@media (max-width: 1245px) {
  header .wrapper {
    gap: 11em;
  }
}
@media (max-width: 1050px) {
  header .wrapper {
    gap: 6em;
  }
}
header ul {
  display: flex;
  gap: 58px;
}
header ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
header ul li a:hover {
  opacity: 0.5;
}

footer {
  margin: auto;
  padding-top: 100px;
  height: 450px;
}
footer #footer {
  display: flex;
  gap: 8em;
  text-align: left;
  background-color: #665f55;
  border-radius: 40px;
  padding: 100px;
}
@media (max-width: 1230px) {
  footer #footer {
    gap: 4em;
  }
}
@media (max-width: 1050px) {
  footer #footer {
    flex-direction: column;
    gap: 100px;
  }
}
footer #footer h3 {
  width: 530px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
}
footer #footer h3 span {
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
  color: #b0907a;
}
footer #footer #socialNetworks {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}
footer #footer #socialNetworks #item-1 {
  background-color: #665f55;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  background-image: url("../img/twitter.svg");
  transition: 500ms;
}
footer #footer #socialNetworks #item-1:hover {
  background-image: url("../img/twitter_hover.svg");
  background-color: #e1d4c9;
}
footer #footer #socialNetworks #item-2 {
  background-color: #665f55;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  background-image: url("../img/instagram.svg");
  transition: 500ms;
}
footer #footer #socialNetworks #item-2:hover {
  background-image: url("../img/instagram_hover.svg");
  background-color: #e1d4c9;
}
footer #footer #socialNetworks #item-3 {
  background-color: #665f55;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px;
  background-image: url("../img/facebook.svg");
  transition: 500ms;
}
footer #footer #socialNetworks #item-3:hover {
  background-image: url("../img/facebook_hover.svg");
  background-color: #e1d4c9;
}
footer #footer h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
  color: #e1d4c9;
}
footer #footer p {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
  margin-bottom: 20px;
}
footer #footer p img {
  padding-right: 8px;
}

main {
  text-align: center;
}
main #mainDiv {
  text-align: left;
  margin: auto;
  margin-bottom: 100px;
  padding: 100px;
  background: url("../img/first_div_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
}
@media (max-width: 850px) {
  main #mainDiv {
    margin-top: 30px;
    padding: 100px 60px;
  }
}
main #mainDiv div {
  width: 530px;
}
main #mainDiv div h1 {
  display: inline;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
}
main #mainDiv div h1 span {
  font-size: 72px;
  font-style: italic;
  font-weight: 600;
  line-height: 105%;
  color: #b0907a;
}
main #mainDiv p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #e1d4c9;
  margin: 40px 0;
  width: 530px;
}
main #mainDiv button {
  display: flex;
  gap: 7px;
  width: 200px;
  padding: 20px 78px;
  background-color: #e1d4c9;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  border: none;
  border-radius: 100px;
}
main #mainDiv button img {
  opacity: 0;
  transition: 300ms;
}
@media (max-width: 850px) {
  main #mainDiv button img {
    opacity: 1;
  }
}
main #mainDiv button:hover img {
  opacity: 1.5;
}
main h2 {
  display: inline;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 40px;
}
main h2 span {
  font-style: italic;
  color: #b0907a;
}
main .slider__item-content {
  margin: 40px;
}
main .slider__item-content #slider-text {
  margin-left: calc(50% - 240px);
}
main .slider__item-content #slider-text h5 {
  width: 480px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 16px;
}
main .slider__item-content #slider-text p {
  width: 480px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 16px;
}
main .slider__item-content #slider-text h4 {
  width: 480px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
main #carousel {
  margin-bottom: 100px;
}
main #about {
  text-align: left;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
main #about span {
  color: #b0907a;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
main #images {
  margin-top: 40px;
}
main #images div {
  margin: auto;
  display: flex;
}
@media (max-width: 850px) {
  main #images div {
    display: block;
    margin: auto;
  }
}
main #images div img {
  vertical-align: top;
}
main #images div .col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 850px) {
  main #images div .col {
    align-items: center;
  }
}
main #images .about-1 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  margin-right: 40px;
}
@media (max-width: 1430px) {
  main #images .about-1 {
    width: 550px;
    height: 480px;
  }
}
@media (max-width: 1230px) {
  main #images .about-1 {
    width: 440px;
    height: 384px;
  }
}
@media (max-width: 1050px) {
  main #images .about-1 {
    width: 400px;
    height: 346px;
  }
}
@media (max-width: 850px) {
  main #images .about-1 {
    margin-top: 40px;
    width: 660px;
    height: 590px;
    margin-right: 0;
  }
}
main #images .about-3 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
}
@media (max-width: 1430px) {
  main #images .about-3 {
    width: 550px;
    height: 358px;
  }
}
@media (max-width: 1230px) {
  main #images .about-3 {
    width: 440px;
    height: 322px;
  }
}
@media (max-width: 1050px) {
  main #images .about-3 {
    width: 400px;
    height: 290px;
  }
}
@media (max-width: 850px) {
  main #images .about-3 {
    display: none;
  }
}
main #images .about-2 {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  margin-right: 40px;
}
@media (max-width: 1430px) {
  main #images .about-2 {
    width: 550px;
    height: 358px;
  }
}
@media (max-width: 1230px) {
  main #images .about-2 {
    width: 440px;
    height: 322px;
  }
}
@media (max-width: 1050px) {
  main #images .about-2 {
    width: 400px;
    height: 290px;
  }
}
@media (max-width: 850px) {
  main #images .about-2 {
    display: none;
  }
}
main #images .about-4 {
  width: 660px;
  height: 590px;
  border-radius: 20px;
}
@media (max-width: 1430px) {
  main #images .about-4 {
    width: 550px;
    height: 480px;
  }
}
@media (max-width: 1230px) {
  main #images .about-4 {
    width: 440px;
    height: 384px;
  }
}
@media (max-width: 1050px) {
  main #images .about-4 {
    width: 400px;
    height: 346px;
  }
}
@media (max-width: 850px) {
  main #images .about-4 {
    margin-top: 40px;
    width: 660px;
    height: 590px;
  }
}
main #download-div {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1230px) {
  main #download-div {
    flex-direction: column;
    gap: 100px;
    margin-bottom: 100px;
  }
}
main #download-div #download-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: left;
  width: 630px;
}
main #download-div #download-info h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
main #download-div #download-info h3 span {
  color: #b0907a;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}
main #download-div #download-info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
main #download-div #download-info #downloadBtns {
  display: flex;
  gap: 20px;
}
main #download-div #download-info #downloadBtns button {
  padding: 12px;
  width: 200px;
  display: flex;
  gap: 2px;
  border: 1px solid #665f55;
  border-radius: 100px;
  background-color: #e1d4c9;
  transition: 300ms;
}
main #download-div #download-info #downloadBtns button:hover {
  background-color: #665f55;
  color: #e1d4c9;
}
main #download-div #download-info #downloadBtns button:hover #butImg {
  background-image: url("../img/appStore_hover.svg");
}
main #download-div #download-info #downloadBtns button:hover #butImg2 {
  background-image: url("../img/googlePlay_hover.svg");
}
main #download-div #download-info #downloadBtns button #butImg {
  width: 36px;
  height: 36px;
  background-image: url("../img/appStore.svg");
  transition: 300ms;
}
main #download-div #download-info #downloadBtns button #butImg2 {
  width: 36px;
  height: 36px;
  background-image: url("../img/googlePlay.svg");
  transition: 300ms;
}
main #download-div #download-info #downloadBtns button p {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
main #download-div #download-info #downloadBtns button h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

#burgerHeader {
  background-color: #e1d4c9;
  padding: 36px;
}
#burgerHeader .cofeeHouse,
#burgerHeader .ellipse,
#burgerHeader .resourse {
  position: absolute;
}
#burgerHeader .cofeeHouse {
  top: 63px;
  left: 54px;
  z-index: 3;
}
#burgerHeader .ellipse {
  top: 17px;
  left: 67px;
  z-index: 3;
}
#burgerHeader .resourse {
  top: 24px;
  left: 38px;
  z-index: 3;
}
#burgerHeader #burgerClose {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  right: 18px;
  top: 21px;
  flex-direction: column;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: none;
}
@media (max-width: 850px) {
  #burgerHeader #burgerClose {
    display: flex;
  }
}
#burgerHeader #burgerClose img {
  position: absolute;
}

#burgerMain {
  align-items: center;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
#burgerMain nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
#burgerMain .copy {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
#burgerMain .copy p {
  text-decoration: none;
}
#burgerMain .copy:hover {
  opacity: 0.5;
  cursor: pointer;
}
#burgerMain .copy img {
  margin-left: 8px;
  margin-bottom: 3px;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  max-width: 800px;
  margin: auto;
}
h1 span {
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
  color: #b0907a;
}

#menu-type-div {
  display: flex;
  width: 377px;
  gap: 16px;
  margin: auto;
  margin-top: 40px;
}
#menu-type-div button {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: #e1d4c9;
  border: 1px solid #c1b6ad;
  transition: 300ms;
}
#menu-type-div button #selectorImg {
  background-color: #c1b6ad;
  border-radius: 100px;
  padding: 3px;
}
#menu-type-div button:hover {
  background-color: #665f55;
  color: #e1d4c9;
}
#menu-type-div button:hover #selectorImg {
  background-color: #e1d4c9;
}

#menu {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
}
#menu .menuCard {
  width: 310px;
  height: 505px;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  text-align: left;
  position: relative;
  cursor: pointer;
}
#menu .menuCard img {
  border-radius: 40px;
  transition: 400ms;
}
#menu .menuCard .menuInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
}
#menu .menuCard .menuInfo h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
#menu .menuCard .menuInfo p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
#menu .menuCard .menuInfo h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  align-self: flex-start;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#menu .menuCard:hover img {
  transform-origin: top;
  transform: scaleY(0.9);
}

#modal {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 16px;
}
#modal img {
  border-radius: 40px;
}
@media (max-width: 850px) {
  #modal #info {
    max-width: 70%;
  }
}
#modal #info h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
}
#modal #info p,
#modal #info h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
#modal #info h5 {
  margin-top: 20px;
}
#modal #info #price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#modal #info #varning {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-top: 8px;
  border-top: 1px solid #c1b6ad;
  padding-top: 12px;
}
#modal #info #varning p {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
#modal #selector {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  width: 377px;
  gap: 16px;
  margin-top: 8px;
}
@media (max-width: 850px) {
  #modal #selector {
    gap: 8px;
  }
}
#modal #selector button {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background-color: #e1d4c9;
  border: 1px solid #c1b6ad;
  transition: 300ms;
}
#modal #selector button #selectorImg {
  background-color: #c1b6ad;
  border-radius: 100px;
  padding: 4px 8px;
}
#modal #selector button:hover {
  background-color: #665f55;
  color: #e1d4c9;
}
#modal #selector button:hover #selectorImg {
  background-color: #e1d4c9;
  color: #665f55;
}

#close {
  width: 56%;
  padding: 10px 78px;
  margin-top: 10px;
  margin-right: 16px;
  border-radius: 100px;
  background-color: #e1d4c9;
  border: 1px solid #c1b6ad;
  transition: 300ms;
}
#close:hover {
  background-color: #665f55;
  color: #e1d4c9;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  color: #403f3d;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#homePage .container {
  max-width: 1360px;
  margin: auto;
}
@media (max-width: 1430px) {
  #homePage .container {
    max-width: 1200px;
  }
}
@media (max-width: 1370px) {
  #homePage .container {
    max-width: 1150px;
  }
}
@media (max-width: 1230px) {
  #homePage .container {
    max-width: 1000px;
  }
}
@media (max-width: 1050px) {
  #homePage .container {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  #homePage .container {
    max-width: 720px;
  }
}
@media (max-width: 800px) {
  #homePage .container {
    max-width: 670px;
  }
}

.menuPage .container {
  max-width: 1360px;
  margin: auto;
}
@media (max-width: 1430px) {
  .menuPage .container {
    max-width: 1200px;
  }
}
@media (max-width: 1370px) {
  .menuPage .container {
    max-width: 1150px;
  }
}
@media (max-width: 1230px) {
  .menuPage .container {
    max-width: 1000px;
  }
}
@media (max-width: 1050px) {
  .menuPage .container {
    max-width: 1000px;
  }
}
@media (max-width: 850px) {
  .menuPage .container {
    max-width: 720px;
  }
}
@media (max-width: 800px) {
  .menuPage .container {
    max-width: 670px;
  }
}/*# sourceMappingURL=index.css.map */