footer {
  margin: auto;
  padding-top: 100px;
  height: 450px;
  #footer {
    display: flex;
    gap: 8em;
    text-align: left;
    background-color: #665f55;
    border-radius: 40px;
    padding: 100px;
    @media (max-width: 1230px) {
      gap: 4em;
    }
    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 100px;
    }
    h3 {
      max-width: 530px;
      font-size: 60px;
      font-weight: 600;
      line-height: 125%;
      color: #e1d4c9;
      @media (max-width: 670px) {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
      }
      span {
        font-size: 60px;
        font-style: italic;
        font-weight: 600;
        line-height: 125%;
        color: #b0907a;
        @media (max-width: 670px) {
          font-size: 32px;
          font-weight: 600;
          line-height: 125%;
        }
      }
    }
    #socialNetworks {
      margin-top: 40px;
      display: flex;
      gap: 12px;
      #item-1 {
        background-color: #665f55;
        border-radius: 100px;
        border: 1px solid #c1b6ad;
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px;
        background-image: url("../img/twitter.svg");
        transition: 500ms;
        &:hover {
          background-image: url("../img/twitter_hover.svg");
          background-color: #e1d4c9;
        }
      }
      #item-2 {
        background-color: #665f55;
        border-radius: 100px;
        border: 1px solid #c1b6ad;
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px;
        background-image: url("../img/instagram.svg");
        transition: 500ms;
        &:hover {
          background-image: url("../img/instagram_hover.svg");
          background-color: #e1d4c9;
        }
      }
      #item-3 {
        background-color: #665f55;
        border-radius: 100px;
        border: 1px solid #c1b6ad;
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px;
        background-image: url("../img/facebook.svg");
        transition: 500ms;
        &:hover {
          background-image: url("../img/facebook_hover.svg");
          background-color: #e1d4c9;
        }
      }
    }
    h4 {
      font-size: 24px;
      font-weight: 600;
      line-height: 125%;
      margin-bottom: 40px;
      color: #e1d4c9;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      color: #e1d4c9;
      margin-bottom: 20px;
      img {
        padding-right: 8px;
      }
    }
  }
}
