header {
  display: flex;
  width: 100%;
  background-color: #e1d4c9;
  padding: 36px;
  margin-bottom: 20px;
  align-items: center;
  .cofeeHouse,
  .ellipse,
  .resourse {
    position: absolute;
  }
  .cofeeHouse {
    top: 63px;
    left: 54px;
    z-index: 3;
  }
  .ellipse {
    top: 17px;
    left: 67px;
    z-index: 3;
  }
  .resourse {
    top: 24px;
    left: 38px;
    z-index: 3;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    @media (max-width: 850px) {
      display: none;
    }
  }
  .copy {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    @media (max-width: 850px) {
      display: none;
    }
    p {
      text-decoration: none;
    }
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    img {
      margin-left: 8px;
      margin-bottom: 3px;
    }
  }
  .wrapper {
    display: flex;
    gap: 17em;
    align-items: right;
    #burger {
      position: absolute;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      right: 18px;
      top: 21px;
      flex-direction: column;
      gap: 8px;
      border-radius: 100px;
      border: 1px solid #665f55;
      display: none;
      @media (max-width: 850px) {
        display: flex;
      }
    }
    @media (max-width: 1245px) {
      gap: 11em;
    }
    @media (max-width: 1050px) {
      gap: 6em;
    }
  }
  ul {
    display: flex;
    gap: 58px;
    li {
      a {
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
