h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  max-width: 800px;
  margin: auto;
  @media (max-width: 670px) {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  span {
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    color: #b0907a;
    @media (max-width: 670px) {
      font-size: 32px;
      font-weight: 600;
      line-height: 125%;
    }
  }
}

#menu-type-div {
  display: flex;
  width: 377px;
  gap: 16px;
  margin: auto;
  margin-top: 40px;
  button {
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background-color: #e1d4c9;
    border: 1px solid #c1b6ad;
    transition: 300ms;
    #selectorImg {
      background-color: #c1b6ad;
      border-radius: 100px;
      padding: 3px;
    }
    &:hover {
      background-color: #665f55;
      color: #e1d4c9;
      #selectorImg {
        background-color: #e1d4c9;
      }
    }
    p {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
    }
  }
}
#menu {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  .menuCard {
    width: 310px;
    height: 505px;
    border-radius: 40px;
    border: 1px solid #c1b6ad;
    text-align: left;
    position: relative;
    cursor: pointer;
    img {
      border-radius: 40px;
      transition: 400ms;
    }
    .menuInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      padding: 20px;
      h3 {
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
      h6 {
        font-size: 24px;
        font-weight: 600;
        line-height: 125%;
        align-self: flex-start;
        position: absolute;
        bottom: 20px;
        left: 20px;
      }
    }
    &:hover {
      img {
        transform-origin: top;
        transform: scaleY(0.9);
      }
    }
  }
}
