@import "reset.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "burger.scss";
@import "menu.scss";
@import "modal.scss";

body {
  font-family: "Inter", sans-serif;
  background-color: #e1d4c9;
  color: #403f3d;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

#homePage {
  align-self: center;
  .container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1430px) {
      max-width: 1200px;
    }
    @media (max-width: 1370px) {
      max-width: 1150px;
    }
    @media (max-width: 1230px) {
      max-width: 1000px;
    }
    @media (max-width: 1050px) {
      max-width: 800px;
    }
    @media (max-width: 850px) {
      max-width: 720px;
    }
    @media (max-width: 800px) {
      max-width: 670px;
    }
    @media (max-width: 720px) {
      padding-left: 20px;
      max-width: 600px;
    }
    @media (max-width: 670px) {
      max-width: 550px;
    }
    @media (max-width: 600px) {
      max-width: 500px;
    }
    @media (max-width: 550px) {
      max-width: 480px;
    }
    @media (max-width: 530px) {
      max-width: 460px;
    }
    @media (max-width: 510px) {
      max-width: 430px;
    }
    @media (max-width: 450px) {
      max-width: 380px;
    }
    @media (max-width: 430px) {
      max-width: 340px;
    }
    @media (max-width: 380px) {
      max-width: 290px;
    }
  }
}

.menuPage {
  .container {
    max-width: 1360px;
    margin: auto;
    @media (max-width: 1430px) {
      max-width: 1200px;
    }
    @media (max-width: 1370px) {
      max-width: 1150px;
    }
    @media (max-width: 1230px) {
      max-width: 1000px;
    }
    @media (max-width: 1050px) {
      max-width: 1000px;
    }
    @media (max-width: 850px) {
      max-width: 720px;
    }
    @media (max-width: 800px) {
      max-width: 670px;
    }
    @media (max-width: 680px) {
      max-width: 600px;
    }
    @media (max-width: 480px) {
      max-width: 400px;
    }
    @media (max-width: 720px) {
      padding-left: 20px;
    }
  }
}
